#.*
#*.*~
bower_components/
.idea/
admin/angular-app/dist
admin/angular-app/node_modules
admin/angular-app/bower_components
admin/angular-app/vendor
admmin/angular-app/npm-debug.log
*~
coverage
.coverage
*.egg-info
*.pyc
*.pyo
*.bak
*.egg
build
htmlcov
docs/_build
dist
admin/admin/static
var
\#*#
.#*
__pycache__
.idea
.vim
*.sublime-*
.pip-freeze
.setup-cache
.current
*.virtualenvs
*.DS_Store
.ropeproject
.vagrant
*.sass-cache
npm-debug.log
ansible/vg_nodes
ansible/.apt-cache-*
node_modules
xunitreport.xml
coverage.xml
engine/alembic.ini
storage
selenium_tests/screenshots
