<div class="home-page container">
    <div>
        <h1>
            List of projects
        </h1>
        <hr/>
    </div>
    <ul class="projects-list row list-unstyled clearfix">
        <li class="project col-sm-3" ng-repeat="project in projects">
            <div class="wrapper">
                <a ui-sref="app.project.dashboard({projectId: project.id})">
                    <img src="/static/images/placeholder.png" width="250" />
                    <p class="text-center" ng-bind="project.name"></p>
                </a>
            </div>
        </li>
        <li class="project create-new col-sm-3" ng-if="auth.getUser().is_super">
            <div class="wrapper">
                <a href="javascript:void(0)" ng-click="vm.createProject()">
                    <p class="text-center">Create New Project</p>
                    <p class="text-center"><i class="fa fa-plus"></i></p>
                </a>
            </div>
        </li>
    </ul>
</div>