<form class="form-horizontal" name="createUpdateGroupForm" form-submit="vm.submit()">
  <div class="modal-header">
    <div class="btn btn-danger btn-xs pull-right" ng-click="vm.cancel()">
      <i class="fa fa-times"></i>
    </div>
    <h3 class="modal-title">{{vm.action == 'create' ? 'New' : 'Edit'}} Group</h3>
  </div>
  <div class="modal-body">
      <div class="form-group">
          <label class="col-sm-3 text-right" for="name">Name:</label>
          <div class="col-sm-9">
              <input ng-model="vm.group.name"
                     name="name"
                     type="text"
                     class="form-control"
                     id="name"
                     validity-respond/>
          </div>
      </div>
  </div>
  <div class="modal-footer">
    <a class="btn btn-danger" ng-click="vm.cancel()">Cancel</a>
    <button class="btn btn-primary">Submit</button>
  </div>
</form>