
.users-table{
  .admin a{
    cursor: pointer;
  }
}
.edit-admin{
  input[type="radio"]{
    opacity: 0;
  }
  form[name="userForm"]{
    .ng-dirty.ng-invalid{
      border-color: #E96666;
      outline: 0;
      -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(233, 102, 102, 0.6);
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(233, 102, 102, 0.6);
    }
  }
  .nav-tabs{
    li {
      float: right;
      &.title{
        float: left;
        line-height: 30px;
        font-weight: bold;
        padding-left: 20px;
      }
    }
  }
  .simple-roles{
    text-align: left;
    padding: 20px 10px 0;
    ul.panel{
      margin-top: 10px;
      padding: 20px;
      border: 1px solid #ccc;
    }
    .select2-choices{
      padding: 10px;
    }
  }
  .advanced-roles{
    padding: 20px 10px 0;
    .project-roles{
      text-align: left;
      .proj-name{
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .list-group-item{
        padding-left: 60px;
      }
    }
    .project-add{
      overflow: hidden;
      .btn.btn-danger{
        margin: -10px -10px 20px 20px;
      }
      .list-group-item{
        padding-left: 60px;
        text-align: left;
      }
    }
    .btn-add-project{
      width: 100%;
      margin-bottom: 30px;
    }
    label{
      font-weight: normal;
    }
  }
  .ui-select-choices-group-label{
    font-size: 15px;
  }
}
.ui-select-match-item.btn-primary a{
  color: #fff;
}
.ui-select-match-item.btn{
  margin: 0 4px 4px 0;
}
