.table_container .drawning_background {
  background-color:#0C8DFB;
}

.table_container .finished_background {
  background-color:#9CF39C;
}



.table_container .creation_background {
  background-color:#BCBCBC;
}

.table_container .stopped_background {
  background-color:#d9534f;
}