.users-state{
  .table{
    td{
      &:first-child{
        text-align: center;
      }
      .user-role:not(:last-child):after{
        content: ", ";
      }
    }
  }
}

[canvas-bind] {
  position: relative;
  height: 100px;

  canvas {
    position: absolute;
    left: 50%;
    margin-left: -50px;
  }

  [bottom-canvas] {
    z-index: 55;
  }

  .progress_sign {
    position: absolute;
    color: #87CEEB;
    font-size: 26px;
    top: 33%;
    left: 0%;
    right: 0%;
    z-index: 3000;
  }
}
