<form class="form-horizontal" name="removeCurrencyForm" ng-submit="vm.remove()">
  <div class="modal-header">
    <div class="btn btn-danger btn-xs pull-right" ng-click="vm.cancel()">
      <i class="fa fa-times"></i>
    </div>
    <h3 class="modal-title">Remove Currency</h3>
  </div>
  <div class="modal-body create-new-quest">
      <p>
          Are you sure that you want remove this <b>{{vm.currency.text}}</b> currency?
      </p>
  </div>
  <div class="modal-footer">
    <a class="btn btn-primary" ng-click="vm.cancel()">Cancel</a>
    <button class="btn btn-danger">Remove</button>
  </div>
</form>